* {
    font-family: Montserrat-Regular;
    text-shadow: .1vw .1vw .1vw #000;
    overflow: hidden !important;
}

html {
    overflow: hidden !important;
}


body {
    background-image: url(../images/background.jpg);
    background-size: 100%;
    color: currentColor;
    overflow: hidden !important;
}

@font-face {
    font-family: Montserrat-Thin;
    src: url(../fonts/Montserrat-Thin.ttf);
}

@font-face {
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}

@font-face {
    font-family: Montserrat-Black;
    src: url(../fonts/Montserrat-Black.ttf);
}

.info {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    border-radius: 1vw;
    background-color: #110e1abd;
    backdrop-filter: blur(.2vw);
    box-shadow: 0 0 .5vw rgba(0, 0, 0, .2), 0 0 .3vw rgba(0, 0, 0, .2), 0 0 .5vw rgba(0, 0, 0, .2);
    width: 80%;
    height: 80%;
    -webkit-border-radius: 1vw;
    -moz-border-radius: 1vw;
    -ms-border-radius: 1vw;
    -o-border-radius: 1vw;
}


a {
    text-decoration-line: none;
    color: currentColor;
}

a:hover {
    cursor: pointer;
}

* {
    overflow-x: auto;
    outline: none;
    padding: 0;
    margin: 1;
}

.container {
    position: absolute;
    transform: translate(-50%,-50%) scale(1);
    left: 50%;
    top: 50%;
    border-radius: .2vw;
    width: 80%;
    padding: 5vw;
    animation: show .5s ease-in-out;
}

.container > .title {
    position: relative;
    top: -5vw;
    font-size: 2vw;
    padding: .5vw;
    text-align: center;
    text-shadow: 0 0 .2vw #000;
    color: #fff;
}

.container > .title > hr {
    border: 0;
    height: .1vw;
    border-radius: .2vw;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.405);
    -webkit-border-radius: .2vw;
    -moz-border-radius: .2vw;
    -ms-border-radius: .2vw;
    -o-border-radius: .2vw;
}

.container > .buttons > button {
    font-size: 1vw;
    text-align: left;
    text-shadow: 0 0 .5vw #0000006b;
    color: #000;
    background-color: #5581ef6b;
    color: #ccc;
    border: none;
    border-radius: .6vw;
    padding: .5vw;
    margin: .5vw;
    overflow-y: auto;
    transition: .2s;
    -webkit-border-radius: .6vw;
    -moz-border-radius: .6vw;
    -ms-border-radius: .6vw;
    -o-border-radius: .6vw;
}

.container > .buttons > hr {
    border: 0;
    height: .1vw;
    border-radius: .2vw;
    background-color: rgba(255, 255, 255, 0.564);
}

.container > .buttons > button:hover {
    transition: .5s;
    background-color: #5581ef;
    color: #fff;
}

.container > .buttons > button:active {
    transition: .5s;
    transform: scale(.9);
    background-color: #272727;
    /* box-shadow: 0 0 .5vw skyblue, 0 0 .7vw skyblue, 0 0 .2vw skyblue; */
    color: #fff;
}

@keyframes show {
    0% {
        opacity: 0;
        /* transform: translate(-50%,-50%) scale(1.5); */
    }
    100% {
        opacity: 1;
        /* transform: translate(-50%,-50%) scale(1); */
    }
}

::-webkit-scrollbar {
    width: .2vw;
    border-radius: .2vw;
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb {
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb:hover {
    transition: .5s;
    background-color: transparent !important;
}
::-webkit-scrollbar-thumb:active {
    background-color: transparent !important;
}
::-webkit-scrollbar-track {
    background-color: transparent !important;
}
::-webkit-scrollbar-track:hover {
    background-color: transparent !important;
}
::-webkit-scrollbar-track:active {
    background-color: transparent !important;
}

.texto-central {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    color: #ccc;
    text-align: center;
    font-size: 2vw;
}

.loading-svg {
    position: absolute;
    width: 10%;
    top: 60%;
    transform: translate(-50%,-50%);
    left: 50%;
}

button:hover {
    cursor: pointer;
}


.button-back > .buttons > button {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    text-align: left;
    text-shadow: 0 0 .5vw #0000006b;
    color: #000;
    background-color: rgba(255, 200,255,.2);
    color: #ccc;
    box-shadow: 0 0 .5vw rgba(255, 200,255,.2), 0 0 .7vw rgba(255, 200,255,.2), 0 0 .2vw rgba(255, 200,255,.2);
    border: none;
    border-radius: .3vw;
    padding: .5vw;
    margin: .5vw;
    overflow-y: auto;
    transition: .2s;
}

.button-back > .buttons > button:hover {
    cursor: pointer;
    transition: .5s;
    background-color: rgba(0, 255, 255, .8);
    /* background-color: #272727; */
    box-shadow: 0 0 .5vw skyblue, 0 0 .7vw skyblue, 0 0 .2vw skyblue;
    color: #fff;
}

.button-back > .buttons > button:active {
    transition: .5s;
    transform: scale(.9) translateX(-50%);
    background-color: #272727;
    /* box-shadow: 0 0 .5vw skyblue, 0 0 .7vw skyblue, 0 0 .2vw skyblue; */
    color: #fff;
}

@media only screen and (max-width: 1024px) {
    .container > .title {
        font-size: 4vw;
    }
    .container > .buttons > button {
        margin: .8vw;
        border-radius: .5vw;
        padding: .8vw;
        font-size: 2vw;
    }
    .container > .buttons > hr {
        height: .2vw;
    }
}

@media only screen and (max-width: 768px) {
    .container > .title {
        font-size: 5vw;
    }
    .container > .buttons > button {
        margin: 2vw;
        border-radius: 1vw;
        padding: 2vw;
        font-size: 3vw;
    }
    .container > .buttons > hr {
        height: .2vw;
    }
}


@media only screen and (max-width: 375px) {
    body {
        font-family: Montserrat-Regular;
        background-color: #202020;
        color: currentColor;
        overflow: hidden;
    }
    
    .info {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
        background-color: rgba(0, 0, 0, .3);
        border-radius: 5vw;
        box-shadow: 0 0 .5vw rgba(0, 0, 0, .2), 0 0 .3vw rgba(0, 0, 0, .2), 0 0 .5vw rgba(0, 0, 0, .2);
        width: 80%;
        height: 80%;
    }
    
    
    a {
        text-decoration-line: none;
        color: currentColor;
    }
    
    * {
        overflow-x: hidden;
        outline: none;
        padding: 0;
        margin: 1;
    }
    
    .container {
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 2vw;
        height: 70%;
        width: 80%;
        padding: 8vw;
        animation: show .5s ease-in-out;
    }
    
    .container > .title {
        position: relative;
        top: -5vw;
        font-size: 8vw;
        padding: .5vw;
        text-align: center;
        text-shadow: 0 0 .5vw #fff;
        color: #fff;
    }
    
    .container > .title > hr {
        border: 0;
        height: 1vw;
        border-radius: .2vw;
        width: 100%;
        background-color: #fff;
    }
    
    .container > .buttons > button {
        width: max-content;
        font-size: 5vw;
        text-align: left;
        text-shadow: 0 0 .5vw #0000006b;
        color: #000;
        background-color: rgba(255, 200,255,.2);
        color: #ccc;
        box-shadow: 0 0 .5vw rgba(255, 200,255,.2), 0 0 .7vw rgba(255, 200,255,.2), 0 0 .2vw rgba(255, 200,255,.2);
        border: none;
        border-radius: 1.5vw;
        padding: 3vw;
        margin: 2vw;
        margin-top: 5vw;
        overflow-y: auto;
        transition: .2s;
    }
    
    .container > .buttons > hr {
        border: 0;
        height: .1vw;
        border-radius: .2vw;
        background-color: rgba(255, 255, 255, 0.564);
    }
    
    .container > .buttons > button:hover {
        transition: .5s;
        background-color: rgba(0, 255, 255, .8);
        /* background-color: #272727; */
        box-shadow: 0 0 .5vw skyblue, 0 0 .7vw skyblue, 0 0 .2vw skyblue;
        color: #fff;
    }
    
    .container > .buttons > button:active {
        transition: .5s;
        transform: scale(.9);
        background-color: #272727;
        /* box-shadow: 0 0 .5vw skyblue, 0 0 .7vw skyblue, 0 0 .2vw skyblue; */
        color: #fff;
    }

    .texto-central {
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translate(-50%,-50%);
        color: #ccc;
        text-align: center;
        font-size: 6vw;
        width: 80%;
    }
    
    .loading-svg {
        position: absolute;
        width: 30%;
        top: 60%;
        transform: translate(-50%,-50%);
        left: 50%;
    }
    
}

#notify {
    font-family: Montserrat-Regular;
    font-size: .7vw;
    color: #fff;
    position: absolute;
    left: 1%;
    bottom: 1%;
    width: 13vw;
    padding: 0.4vw;
    background-color: #110e1aec;
    box-shadow: 0 0 .3vw #110e1aec;
    border-radius: .4vw;
    transition: .7s;
    -webkit-transition: .7s;
    -moz-transition: .7s;
    -ms-transition: .7s;
    -o-transition: .7s;
    -webkit-border-radius: .4vw;
    -moz-border-radius: .4vw;
    -ms-border-radius: .4vw;
    -o-border-radius: .4vw;
}

.message {
    margin-top: 0.2vw;
}